*.pth
*.npy
*.avi
*.docx
unid_model/runs/
unid_model/unids/
!unid_model/bc_agent_unid_35_20_last_step.pth
!unid_model/bc_agent_unid_35_20_one_step.pth
unid_model/__pycache__/
unid_model/vis.py
ind_model/runs/
ind_model/indds/
!ind_model/bc_agent_ind_50_20_last_step.pth
!ind_model/bc_agent_ind_50_20_one_step.pth
!ind_model/bc_agent_ind_35_20_last_step.pth
!ind_model/bc_agent_ind_35_20_one_step.pth
ind_model/__pycache__/
ind_model/vis.py
ind_model/bc_onestep.py
ind_model/ind_preprocessing.ipynb
ind_model/TODO