*.pth
*.avi
*.mp4
*.npy
runs/
indds/
!bc_agent_ind_20_20_kmeans.pth
!ppo_agent_ind_with_reward_20_cl.pth
!ind_rewards_logprob.npy
__pycache__/
vis.py
bc_onestep.py
*.docx
TODO
TO_DOCUMENT
results_ind.py
results_ind_new.py
results_unid.py
draft.py