*.pth
*.npy
*.avi
runs/
indds/
!bc_agent_ind_50_20_last_step.pth
!bc_agent_ind_50_20_one_step.pth
!bc_agent_ind_35_20_last_step.pth
!bc_agent_ind_35_20_one_step.pth
!bc_agent_ind_75_20_one_step
!output_ind.mp4
!ppo_agent_ind_image_d_last_step_5.pth
!ppo_agent_ind_image_d_smoothed_first_step_kmeans_20.pth
__pycache__/
vis.py
bc_onestep.py
ind_preprocessing.ipynb
*.docx
TODO
TO_DOCUMENT
results_ind.py
results_ind_new.py
results_unid.py
draft.py